* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-fluid {
    width: 100%;
    /* overflow: hidden; */
    background-color:lightblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    flex: 1;
    height: 100%;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container .col-1,
.container .col-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .col-1 {
    width: 30%;
    height: 80px;
    text-align: center;
    /* background-color: red; */
}

.container .col-1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.container .col-1 h1 {
    color: #fff;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container .col-2 {
    width: 70%;
    height: 80px;
    background-color: teal;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-item .nav-link {
    font-size: 15px;
    color: darkgrey;
    text-align: center;
}

.nav-item .nav-link button {
    width: 130px;
    height: 35px;
    border-radius: 20px;
    color: #fff;
    background-color: transparent;
    border: 2px solid orange;
}

.nav-link.active {
    color: #fff !important;
}

.nav-item .nav-link:hover {
    color: #fff;
}

.homepage {
    width: 100%;
    height: 500px;
    /* background-color: #f0f0f0; */
    /* Add a background color to the homepage section */
}

.homepage .container {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage .col-1,
.homepage .col-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.homepage .col-1 {
    width: 30%;
    height: 100%;
    background-color: #fff;
    /* Optional: Add a background color to the image container */
}

.homepage .col-1 img {
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.homepage .col-2 {
    width: 70%;
    height: 100%;
    background-color: #eee;
}
.footer{
    width: 100%;
    height: 150px;
    background-color:#eee;
    
    /* padding: 20px 0; */
}
.footer .follow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    /* margin-top: 5px;
    margin-bottom: 5px; */
}

.footer .follow .follow_us {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    flex-direction: column;
    /* margin-top: 5px; */
}

.footer .follow .link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 5px; */
}
.footer .body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

footer .follow a {
    width: 30px;
    height: 30px;
    /* margin: 0 5px;  */
}